* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "ubuntu", "sens serif";
}

.flowers {
  padding: 0.75rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.flower {
  width: 20vw;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 2px 4px 20px 6px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.75rem;
}

.flower > img {
  height: 30vh;
  width: 30vh;
  border-radius: 0.75rem;
}

.flower > h1 {
  text-transform: capitalize;
}

select {
  padding: 0.75rem;
  margin: 1rem;
  border: none;
  outline: none;
  background-color: #00f;
  color: #fff;
  font-weight: bold;
  border-radius: 0.75rem;
  cursor: pointer;
}

option {
  padding: 0.75rem;
  margin: 1rem;
}
